* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: transparent;
}

html,body
{
  -webkit-app-region: drag;
}
button,input,
.el-header,
.el-main,
.el-footer,
.settingView,
.datePickView{
  -webkit-app-region: no-drag;
}

